:root {
    --color-main: #FFFFFF;
    --color-mainaccent: #6991FF;
    --color-mainaccent2: #114B5F;

    --color-nav: #114B5F;
    --color-navaccent: #FFFFFF;

    --color-content: #9AE19D;
    --color-contentaccent: #011627;
    --color-contentaccent2: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
} 

body {
    background-color: var(--color-main);
}

.header {
    text-align: center;
    font-size: clamp(16px, 4vw, 36px);
    padding: 16px;
    background-color: var(--color-mainaccent);
    color: var(--color-main);
}

.section {
    background-color: var(--color-content);
    color: var(--color-contentaccent);
    padding: 16px;
    margin: 16px; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr 3fr;
    max-width: 1000px;
    margin-inline: auto;
}

.section > * {
    border: 5px dotted var(--color-contentaccent2);
    margin: 10px;
    padding: 10px;
    text-align: center;
    align-content: center;
}

.section p {
    margin: 16px;
    text-align: center;
    font-size: clamp(10px, 2.5vw, 20px);
}

.section h3 {
    font-size: clamp(12px, 3vw, 24px);
    grid-column: span 2;
    border: 2px dashed var(--color-contentaccent2);
}

.section img {
    width: 38vw;
    max-width: 430px;
    height: auto;
}

.topnav {
    display: grid;
    position: sticky;
    top: 0;
    grid-template-columns: 3fr 1fr 1fr 1fr; 
    width: 100%;
    background-color: var(--color-nav);
    transition: 0.5s;
}

@media (max-width: 600px) {
    .topnav {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .section {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 2fr 4fr 1fr 4fr 2fr;
    }

    .section > * {
        grid-column: span 2;
        margin: 6px;
        padding: 6px;
    }

    .section img {
        justify-self: center;
        width: 80vw;
        max-width: 400px;
        height: auto;
    }
}

.topnav a{
    color: var(--color-navaccent);
    padding: 20px;
    text-decoration: none;
    font-size: clamp(8px, 2vw, 20px); 
    text-align: center;
    transition: 0.5s;
}

.topnav a:hover {
    background-color: var(--color-navaccent);
    color: var(--color-nav);
    text-decoration: underline;
}

.credit {
    background-color: var(--color-contentaccent);
    color: var(--color-contentaccent2);
    padding: 16px;
    text-align: center;
    font-size: clamp(8px, 2vw, 20px);
}

.credit p {
    padding: 16px;
    border: 2px solid var(--color-contentaccent2);
}